* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=WindSong:wght@400;500&display=swap');

:root {
    --font1: 'WindSong',
        cursive;
}

html,
    body {
        height: auto;
        width: 100dvw;
        overflow-x: hidden;
        }

        ::-moz-selection {
            color: #fff;
            background: #252525;
        }

        ::selection {
            color: #fff;
            background: #252525;
        }
